<div class="contianer">
	<nav role="navigation" class="navbar navbar-inverse">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
        <button type="button" data-target="#navbarCollapse" data-toggle="collapse" class="navbar-toggle">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
        </button>
        <a href="#" class="navbar-brand">Brand</a>
    </div>
    <!-- Collection of nav links, forms, and other content for toggling -->
    <div id="navbarCollapse" class="collapse navbar-collapse">
        <ul class="nav navbar-nav">
            <li class="active"><a href="../admin/admin">Home</a></li>
            <li><a href="/annotationBased/admin/viewQuestions">Create Test</a></li>
            <li class="dropdown">
                <a data-toggle="dropdown" class="dropdown-toggle" href="#">Messages <b class="caret"></b></a>
                <ul role="menu" class="dropdown-menu">
                    <li><a href="/annotationBased/admin/createTestAndQuestion"
								class="remove-box">Create Test</a></li>
                    <li><a href="/annotationBased/admin/viewQuestions" class="remove-box">View
								Questions</a></li>
                    <li><a href="#">Sent Items</a></li>
                    <li class="divider"></li>
                    <li><a href="#">Trash</a></li>
                </ul>
            </li>
        </ul>
        <form role="search" class="navbar-form navbar-left">
            <div class="form-group">
                <input type="text" placeholder="Search" class="form-control">
            </div>
        </form>
        <ul class="nav navbar-nav navbar-right">
            <li><a href="../auth/logout">Logout</a></li>
        </ul>
    </div>
</nav>
	
	
	
	
	
	
		<div id="main">
		
			<h1>Online Test Application</h1>
			<div class="row" >
				<div class="col-xs-6 col-sm-12">
					<div class="panel panel-default">
						<div class="panel-heading">

							<h3 class="panel-title">Insert Question Here</h3>
						</div>
						<div class="panel-body questionForm">
							<div class="my-form">
								<form  role="form"  method="post"><!-- action='../admin/setQuestion' -->
								

									<br>
									<div class="input-group input-group  panel-body">
										<span class="input-group-addon">Question</span> 
										<input
											type="text" id="question" placeholder="Type question here"
											class="form-control" size="75" name='name' /><br>

									</div>
									<div class="col-xs-6 col-sm-10">
									<div class="list-group">
									
									<div class="option-box list-group-item">
										<div class="row">
									<div class="col-xs-1 col-sm-3">
											
										<label for="box1" >Option: <span class="box-number ">1</span></label>
									
										
										<input type="checkbox" name="listOfAnswers"
											id="inlineCheckbox3" value="1">
											 </div>
											<div class="col-xs-6 col-sm-6">
											
											<input type="text"
											name="listOfOptions" class=" form-control input-sm" placeholder="listofoptions"
											id="optionbox1 " size="20" />
											 </div>
											 <div class="col-xs-6 col-sm-2">
											 <a class="add-box" href="#">Add More</a>
									</div>		
											 </div>
									</div>
									</div>
									</div>
									</div>
									<p>
										<input type="submit" class="btn btn-primary btn-lg"
											value="Submit" />
									</p>
																	</form>
							
							</div>
							
								
						</div>
						<div class="createTestBox">
							<a href="/annotationBased/admin/createTestAndQuestion"
								class="remove-box">Create Test</a>
						</div>
						<div class="createTestBox">
							<a href="/annotationBased/admin/viewQuestions" class="remove-box">View
								Questions</a>
						</div>



					</div>
				</div>

			</div></div>