
<beans:beans xmlns="http://www.springframework.org/schema/security"
	xmlns:beans="http://www.springframework.org/schema/beans" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans
    http://www.springframework.org/schema/beans/spring-beans-3.2.xsd
    http://www.springframework.org/schema/security
    http://www.springframework.org/schema/security/spring-security-3.2.xsd">

	<!-- We will be defining all security related configurations in this file -->
	<http pattern="/common/**" security="none" />
	<http pattern="/nonSecured/**" security="none" />
	<http pattern="/auth/login" security="none" />

	<http pattern="/resources/**" security="none" />

	<global-method-security secured-annotations="enabled" />
	<http use-expressions="true">

		<intercept-url pattern="/**" access="isAuthenticated()" />
		<form-login login-page="/auth/login"
			authentication-success-handler-ref="userDetailsService"
			authentication-failure-url="/auth/login" />
		<logout logout-url="/auth/logout" logout-success-url="/auth/login" /> <!-- the logout url we will use in JSP -->
	</http>

	<!-- <authentication-manager> <authentication-provider> <user-service> <user 
		name="joseph" password="bagnes" authorities="Admin, User"/> <user name="bernabe" 
		password="jose" authorities="User"/> </user-service> </authentication-provider> 
		</authentication-manager> -->

	<beans:bean id="daoAuthenticationProvider"
		class="org.springframework.security.authentication.dao.DaoAuthenticationProvider">
		<beans:property name="userDetailsService" ref="userDetailsService"></beans:property>

	</beans:bean>

	<beans:bean id="authenticationManager"
		class="org.springframework.security.authentication.ProviderManager">
		<beans:property name="providers">
			<beans:list>
				<beans:ref local="daoAuthenticationProvider" />
			</beans:list>
		</beans:property>
	</beans:bean>

	<authentication-manager>
		<authentication-provider user-service-ref="userDetailsService">
			<!-- <password-encoder hash="md5"></password-encoder> -->
		</authentication-provider>
	</authentication-manager>
</beans:beans>